body {
    background-color: lightyellow;
    padding: 2vh 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body>* {
    margin: 10px;
}

.border {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.border>* {
    margin: 5px;
}

.yellowBlock {
    background-color: wheat;
    border-radius: 7px;
    padding: 7px;
    color: rgb(100, 100, 100);
    text-decoration: none;
}

.yellowBlock:hover {
    background-color: rgb(240, 190, 100);
}

.blueBlock {
    background-color: skyblue;
    border-radius: 7px;
    padding: 7px;
    color: rgb(100, 100, 100);
    text-decoration: none;
}

.blueBlock:hover {
    background-color: rgb(51, 181, 233);
}