 
*{
    box-sizing: border-box;
    
 }
  
  
  body{
    background-image: url('../images/onePerson.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*body的块级父元素是html，如果不用background-attachment:fixed;,必须先给HTML设置宽高*/
    background-attachment: fixed;
    
  
   
  }
  
  
  .bigB{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;/*缺陷很大*/
  }
  
  #icon{
    width: 50px;
    height: 65px;
    margin: 20px;
      
  }
  #form{
    margin:0px;
  }
  input:focus{
    box-shadow: 0px 0px 5px rgb(196, 28, 65);
  }
  #login{
    margin-top: 10px ;
    width: 150px;
    text-align: center;
    border: 1px solid yellowgreen;
    background-color: yellowgreen;
    text-decoration: none;
  }
  #register{
    margin-top: 2px;
    width: 150px;
    text-align: center;
    border: 1px solid yellowgreen;
    background-color: yellowgreen;
    text-decoration: none;
  }
  
  td,th{
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
 }
 .table{
  margin: 0px;
  padding: 0px;
 }
 
 