body {
    background-color: lightyellow;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body>* {
    margin: 6px;
}

textarea {
    resize: none;
}

.text {
    background-color: white;
    border: solid 7px rgb(250, 250, 160);
    border-radius: 7px;
    padding: 10px;
}

.showData {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 3px;
    box-shadow: 4px 4px 4px 2px lightgrey;
    padding: 10px;
}

#content,
#view {
    height: 82vh;
    width: 35vw;
}

#view {
    align-items: initial;
    overflow-x: auto;
    overflow-y: auto;
}

#border,
#buttonBorder {
    width: 96vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    justify-content: space-around;
}

#detailBorder {
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-start;
}

#detailBorder>* {
    width: inherit;
    margin: 5px;
}

.button {
    background-color: dodgerblue;
    color: white;
    border-radius: 5px;
    width: 160px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.button:hover {
    background-color: blue;
}

@media screen and (max-width:768px) {
    #view,
    #toView {
        display: none;
    }
    #content,
    #detailBorder {
        width: 86vw;
    }
    #border {
        flex-direction: column-reverse;
    }
}