body {
    background-color: lightyellow;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showData {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 3px;
    padding: 20px 50px 20px 50px;
    width: inherit;
    box-shadow: 4px 4px 4px 2px lightgrey;
}

#view {
    align-items: initial;
    overflow-x: auto;
    overflow-y: auto;
}

#border {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
}

#border>* {
    margin: 10px;
}

@media screen and (max-width:768px) {
    .showData {
        padding: 20px;
    }
    #border {
        width: 80vw;
    }
}